<div class="text-center mt-3 mb-5">
    <h1>Clientes</h1>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Nombre Finca</th>
                <th>Hectareas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clientes">
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telefono }}</td>
                <td>{{ item.nombreFinca }}</td>
                <td>{{ item.hectareas }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <button class="btn btn-primary mt-2" (click)="regresar()">Regresar</button>
</div>