.padding-nombre {
    padding-left: 105px;
}

.padding-email {
    padding-left: 135px;
}

.padding-telefono {
    padding-left: 30px;
}

.padding-nombre-finca {
    padding-left: 90px;
}

.padding-hectareas {
    padding-left: 82px;
}